
#mainColumnSite{
	background-image: url("../images/subtleBackground.png");
	height: 100%;
	padding: 0;
	margin: 0;

}

#mainImageCol{
	padding: 0;
}
header {
	padding: 10px;
	color: black ;
	text-align: center;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 70px;}

.secondaryHead {height:100px;
	width: 100%;
	background-image: url("../images/weather.jpg");
	border: 2px solid black;
	}

.summary { text-align: center; }


.worldMap {
	/*padding: 20px;
	margin-top: 50px;*/
	text-align: center;
	}


p { font-weight: bold; }

footer { 
		text-align: center; 
		background: black;
		color: white;}

.buttonIcon{
	height: 30px;
	margin-top: 7px;
	margin-right: 10px;
}


#soybeanIcon:hover{
	background-color: green;
}

#pecanIcon:hover{
	background-color: brown;
}

.commodityButton{

	width: 130px;
	margin-top: 1px;
}



