body {
    background-image: url("subtleBackground.png");
    width: 100%;
    height: 100%;}
header {
	padding: 10px;
	color: black ;
	text-align: center;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 70px;}

.secondaryHead {height:100px;
	width: 100%;
	background-image: url("weather.jpg");
	border: 2px solid black;}

.summary { text-align: center; }


.worldMap {
	/*padding: 20px;
	margin-top: 50px;*/
	text-align: center;
	}


p { font-weight: bold; }

footer { 
		text-align: center; 
		background: black;
		color: white;}

#cornIcon:hover{
	background-color: red;
}

#soybeanIcon:hover{
	background-color: green;
}

#pecanIcon:hover{
	background-color: brown;
}

